.Rproj.user
.Rhistory
.RData
*.lnk
*.rd
*~
*.ini
*.rda
NAMESPACE
*.pdf
.Rbuildignore
RSplida.Rproj
src-i386
src-x64
#*#


inst/RSplidaSimulationResults/DeviceB.informative.draws
inst/RSplidaSimulationResults/DeviceB.informative.fit
inst/RSplidaSimulationResults/DeviceB.fit
inst/RSplidaSimulationResults/DeviceB.draws




NEWS.md
README.md
StatInt.Rproj
cran-comments.md
